body {
    min-height: 100vh;

    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("img/fondo.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        
        margin: 10px;
        padding: 20px;
        background-color: pink;
        border-radius: 30px;
        width: auto;
        height: auto;
    }
        .texlog{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }
            .logo{
                background-image: url(img/logo2.png);
                background-size: contain;
                border-radius: 50%;
                width: 70px;
                height: 70px;
            }
            .textlogo{
                color: white;
                font-family: "DM Serif Display", serif;
                font-size: 20px;
                font-weight: 400;
                font-style: italic;
            }
        .enlaces{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            gap: 20px;
        }
            .boten{
                text-decoration: none;
                color: white;
                font-family: "DM Serif Display", serif;
                font-weight: 400;
                font-style: italic;

                transition: transform .10s ease;
            }
                .boten:hover{
                    padding: 10px;
                    background-color: rgb(255, 107, 156);
                    border-radius: 15px;

                    transform: translateY(-6px);
                    box-shadow: 0 0 20px white;
                }

                .btn-primary{
                    padding: 10px;
                    background-color: white;
                    border-radius: 15px;
                    border: none;

                    font-family: "DM Serif Display", serif;
                    font-weight: 400;
                    font-style: italic;
                    color: rgb(255, 107, 156);

                    transition: transform .10s ease;
                }
                    .btn-primary:hover{
                        background-color: rgb(255, 107, 156);
                        box-shadow: 0 0 10px white;
                        color: white;
                        transform: translateY(-6px);
                    }
                .btn-outline-primary{
                    padding: 10px;
                    background-color: rgb(255, 107, 156);
                    border-radius: 15px;
                    border: none;

                    font-family: "DM Serif Display", serif;
                    font-weight: 400;
                    font-style: italic;
                    color: white;

                    transition: transform .10s ease;
                }
                    .btn-outline-primary:hover{
                        color: white;
                        background-color: transparent;
                        box-shadow: 0 0 10px white;
                        transform: translateY(-6px);
                    }
                
        #exampleModal .modal-dialog,
        #modalRegistro .modal-dialog {
            max-width: 1000px; 
            width: 90%;
        }
        .modal-dialog{
            display: flex;
            flex-direction: row;
            gap: 20px;
            padding: 30px;
            background-color: pink;
            border-radius: 30px;
            box-shadow: 0 0 40px white;
            width: 90%;
        }
            .img{

                background-image: url(img/poster.png);
                background-size: cover;
                background-position: center;
                width: 600px;
                height: auto;
                box-shadow: 0 0 10px black;
                border-radius: 20px;
            }
                .modal-header,
                .modal-footer {
                    background: rgb(252, 160, 189) !important;
                    color: white;
                }
                .modal-footer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }
                .modal-footer div {
                    width: 100%;
                }

                    .modal-title {
                        font-family: "DM Serif Display", serif;
                        font-weight: 400;
                        font-style: italic;
                        color: white;
                    }
                        .btn-primarys{
                            display: block;
                            margin-right: 10px;
                            margin-left: auto;
                            padding: 10px;
                            background-color: pink;
                            border-radius: 15px;
                            border: none;
                            color: black;
                            font-family: "DM Serif Display", serif;
                            font-weight: 400;
                            font-style: italic;

                            transition: .10s ease;
                        }
                            .btn-primarys:hover{
                                background-color: white;
                                box-shadow: 0 0 20px rgb(255, 107, 156);
                                color: rgb(255, 107, 156);

                                transform: translateY(-6px);
                            }
                        .bot-mofo{
                            text-decoration: none;
                            font-family: "DM Serif Display", serif;
                            font-weight: 400;
                            font-style: italic;
                            color: black;
                            text-shadow: 0 0 10px white;

                        }
                            .bot-mofo:hover{
                                color: rgb(252, 61, 125);
                                text-shadow: 0 0 10px white;
                            }
                    .form-label{
                        font-family: "PT Serif", serif;
                        font-weight: 400;
                        font-style: normal;
                        color: black;
                    }
                    .form-control {
                        border-radius: 10px;
                        border: 1px solid #000000 !important;
                        padding: 10px;
                    }
                        .form-control:focus {
                            border-color: rgb(252, 61, 125) !important;
                            box-shadow: 0 0 5px rgba(236, 64, 122, 0.5) !important;
                        }
                    .recu-input{
                        color: rgb(89, 138, 251) !important;
                    }
                        .recu-input:hover{
                            color: rgb(253, 79, 137) !important;
                        }
    .conte-caruu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 30px;
    }
        .contenido{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
            .tit{
                font-family: "DM Serif Display", serif;
                font-size: 40px !important;
                font-weight: 400;
                font-style: italic;
                color: white;
                text-shadow: 0 0 20px rgb(255, 89, 144);
            }

            .text{
                text-align: center;
                font-family: "DM Serif Display", serif;
                font-weight: 400;
                font-style: italic;
                font-size: 20px;
                color: #ffffff;
                text-shadow: 0 0 8px rgba(0,0,0,0.4);
                width: 70%;
            }
        .img-carru{
            display: flex;
            flex-direction: row;
            gap: 120px;
            justify-content: space-around;
            align-items: center;
        }
            .des1{
                background-image: url(img/desss1.png);
                background-size: contain;
                width: 240px;
                height: 400px;
                border-radius: 20px;
                box-shadow: 0 0 20px white;
            }

            .des2{
                background-image: url(img/desss2.png);
                background-size: contain;
                width: 240px;
                height: 400px;
                border-radius: 20px;
                box-shadow: 0 0 20px white;
            }
            #carouselExampleFade {
                width: 550px;
                height: 500px;
                box-shadow: 0 0 20px white;
                border-radius: 20px;
            }
                 .carousel-inner {
                    width: 100%;
                    height: 100%;
                }
                    .carousel-item {
                        width: 100%;
                        height: 100%;
                    }
                        #carouselExampleFade img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 20px;
                        }
                    .carousel-caption h5{
                        font-family: "DM Serif Display", serif;
                        font-size: 30px !important;
                        font-weight: 400;
                        font-style: italic;
                        color: black;
                        text-shadow: 0 0 10px white;
                    }
                    .carousel-caption p{
                        font-family: "PT Serif", serif;
                        font-weight: 400;
                        font-style: normal;
                        font-size: 20px;
                        color: white;
                        text-shadow: 0 0 20px black;
                    }
    .pag4,
    .pag3{
        background-color: pink;
        padding: 30px;
        margin: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
        .titulo{
            margin: 0 auto;
            padding: 10px;
            background-color: white;
            box-shadow: 0 0 10px rgb(255, 107, 156);
            border-radius: 30px;
            width: 90%;
            height: auto;

            text-align: center;
            font-family: "DM Serif Display", serif;
            font-size: 40px;
            font-weight: 400;
            font-style: italic;
            color: rgb(255, 107, 156);
        }

        .tarjetasdipo1,
        .tarjetasdipo2{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
            .tardipo,
            .tarofe{
                padding: 10px;
                background-color: #FDEDEF;
                border-radius: 20px;
                box-shadow: 0 0 10px white;
                max-width: 350px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
            }
                .imgdipo1{
                    background-image: url(img/tardipo1.png);
                }
                .imgdipo2{
                    background-image: url(img/tardipo2.png);
                }
                .imgdipo3{
                    background-image: url(img/tardipo3.png);
                }
                .imgdipo4{
                    background-image: url(img/tardipo4.png);
                }
                .imgdipo5{
                    background-image: url(img/tardipo5.png);
                }
                .imgdipo6{
                    background-image: url(img/tardipo6.png);
                }
            .tarjetasofertas1,
            .tarjetasofertas2{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 20px;
            }

                .imgofe1,
                .imgofe2,
                .imgofe3,
                .imgofe4,
                .imgofe5,
                .imgofe6,
                .imgdipo1,
                .imgdipo2,
                .imgdipo3,
                .imgdipo4,
                .imgdipo5,
                .imgdipo6{
                    background-size: cover;
                    background-position: center;
                    width: 280px;
                    height: 480px;
                }
                .btn-primary{
                    text-decoration: none;
                }

                .imgofe1{
                    background-image: url(img/tarofe1.png);
                }
                .imgofe2{
                    background-image: url(img/tarofe2.png);
                }
                .imgofe3{
                    background-image: url(img/tarofe3.png);
                }
                .imgofe4{
                    background-image: url(img/tarofe4.png);
                }
                .imgofe5{
                    background-image: url(img/tarofe5.png);
                }
                .imgofe6{
                    background-image: url(img/tarofe6.png);
                }

                    